.container1, .container2, .container3{
    border: 1px solid salmon;
    margin: 0 auto;
    width: 75%;
    text-align: center;
}
.flexbox1, .flexbox2{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 1px solid salmon;    
    justify-content: space-around;
}

.flexbox1 div{
    display: flex;
    padding: 10px;
    border: 1px solid salmon;
    align-items: center;
}

.flexbox2 img{
    margin: 10px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0,0.7);

}

.ni{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
    align-items:center
}

.flex-box-rps img:hover{
    box-shadow: 0px 10px 50px rgba(69, 67, 172)
}